// Обнуление отступов + 100% ширина
%w100 {
  width: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
}

// Обнуление кнопок
%button-reset {
  font: inherit;

  color: inherit;

  text-decoration: none;

  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}

// Контейнер фонового изображения
%img {
  position: absolute;

  top: 0;
  left: 0;

  z-index: 1;

  width: 100%;
  height: 100%;
}

// Фоновое pcture + вложенное img
%picture {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
  }
}
