html {
  box-sizing: border-box;

  &.active {
    overflow: hidden;
  }

  @media screen and (min-width: $desktop) {
    &.active {
      body {
        height: auto;
      }
    }
  }
}

body {
  position: relative;

  width: 100%;
  min-height: 100vh;

  box-sizing: border-box;

  .wrapper {
    display: flex;

    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    width: 100vw;
    min-height: 100vh;
  }

  @media screen and (min-width: $desktop) {
    height: 100vh;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    .wrapper {
      height: 100vh;

      overflow: auto;

      .scrollbar-track,
      .simplebar-track {
        z-index: 100;

        background-color: transparent;
      }

      .simplebar-scrollbar {
        &::before {
          z-index: 100;

          pointer-events: all;

          cursor: grab;
        }
      }
    }
  }
}

*,
*::before,
*::after {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: normal;

  box-sizing: inherit;
}

*:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.swiper-wrapper {
  transition: all linear;
}

.swiper-slide {
  cursor: pointer;
}

section {
  transition: transform 0.5s linear;
}
