@mixin font($size: 14, $line: 17, $weight: 400) {
  font-weight: $weight;
  font-size: rem($size);
  line-height: rem($line);
}

@mixin before-linear-gradient($z-index: 2, $deg: 0deg) {
  $from: var(--before-linear-gradient-from);
  $to: var(--before-linear-gradient-to);

  &::before {
    content: '';

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: $z-index;

    background: linear-gradient($deg, $from, $to);

    transition: background 0.3s;

    pointer-events: none;
  }
}
