.banquet {
  @extend %w100;

  height: 100vw;

  overflow: visible;

  @media screen and (min-width: $tablet) {
    height: 585px;
  }

  @media screen and (min-width: $desktop) {
    height: calc(440 / 1440 * 100vw);
  }

  &__container {
    position: relative;

    height: 100%;
  }

  &__title {
    position: absolute;

    bottom: 42px;
    left: 15px;

    z-index: 2;

    @include font(50, 74, 300);

    @media screen and (min-width: $mobile) {
      left: 40px;

      @include font(64, 58, 300);
    }

    @media screen and (min-width: $tablet) {
      --opacity: 0.8;

      top: 80px;
      bottom: auto;
      left: 38px;

      @include font(96, 86, 300);
    }

    @media screen and (min-width: $desktop) {
      --opacity: 0.6;

      top: -70px;
      left: 67px;

      @include font(144, 140, 300);
    }
  }

  &__slider {
    width: 100vw;
    height: 100%;

    margin: 0 calc((100% - 100vw) / 2);
  }

  &__img {
    @extend %img;
  }

  &__picture {
    @extend %picture;
  }

  &__pagination {
    z-index: 2;

    &.swiper-pagination {
      bottom: auto;
      top: 40px;

      @media screen and (min-width: $tablet) {
        top: auto;
        bottom: 38px;
      }
    }
  }
}
