.button {
  position: relative;

  @extend %button-reset;

  display: flex;

  align-items: center;
  justify-content: center;

  width: fit-content;

  padding: 18px 13px;

  @include font(16, 20, 500);

  text-transform: uppercase;

  color: var(--color-button, #ffffff);

  background-color: transparent;

  border-radius: 40px;

  overflow: hidden;

  transition: color 0.3s, border-color 0.3s;

  * {
    position: relative;

    z-index: 2;
  }

  svg {
    stroke: var(--color-button, #ffffff);

    transition: fill 0.3s;
  }

  &::before {
    content: '';

    position: absolute;

    top: 0;
    left: 0;

    z-index: 1;

    width: 100%;
    height: 100%;

    background-color: var(--background-color-button, transparent);

    border-radius: 40px;

    border: 1px solid var(--border-color-button, #ffffff);

    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }

  &:hover:not(:active),
  &:active {
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    &::before {
      transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

    svg {
      transition: stroke 0.3s;
    }
  }

  &:hover:not(:active) {
    --background-color-button: #{$white-30};
  }

  &:active {
    --color-button: #{$yellow};
    --background-color-button: #{$white-80};
  }

  &--circle {
    border-radius: 50%;

    &::before {
      border-radius: 50%;
    }
  }

  @media screen and (min-width: $tablet) {
    padding: 15.5px 13px;

    @include font(14, 17, 500)
  }
}
