.cards {
  @extend %w100;

  background-color: $dirty-green;

  &__list {
    display: grid;

    grid-template-columns: 100%;
    grid-template-rows: auto;

    @extend %w100;

    list-style: none;

    overflow: visible;

    @media screen and (min-width: $tablet) {
      grid-template-columns: 50vw 50vw;
    }
  }

  &__item {
    position: relative;

    margin: 0;
    padding: 0;

    cursor: pointer;

    perspective: 50vw;

    transition: height 0.5s;

    &.active {
      z-index: 100;

      .cards__pagination {
        opacity: 0;
      }
    }

    @media screen and (min-width: $tablet) {
      &--last {
        grid-column: span 2;

        height: fit-content;
      }
    }

    @media screen and (min-width: $desktop) {
      display: flex;

      flex-direction: column;

      justify-content: flex-start;

      &:nth-of-type(odd) {
        align-items: flex-end;
      }

      &:nth-of-type(even) {
        align-items: flex-start;
      }
    }
  }

  &__top {
    position: relative;

    backface-visibility: hidden;

    transform-origin: center;

    transform: rotateX(0deg);

    transition: transform 1s;

    &.active {
      position: absolute;

      width: 100%;

      transform: rotateY(180deg);

      transition: transform 1s;
    }

    @media screen and (min-width: $desktop) {
      position: absolute;

      width: 100%;
      height: 100%;
    }
  }

  &__title {
    position: absolute;

    top: 0;
    left: 0;

    z-index: 2;

    @extend %w100;

    padding: 38px 15px;

    @include font(64, 70, 400);

    color: $white;

    text-transform: lowercase;

    word-break: break-all;

    &--1,
    &--3,
    &--4 {
      top: 0;
      left: 0;
    }

    &--2 {
      top: auto;
      bottom: 0;
      left: 0;
    }

    @media screen and (min-width: $mobile) {
      padding: 38px 40px;
    }

    @media screen and (min-width: $tablet) {
      padding: 36px 40px;

      @include font(64, 58, 300);

      &--last {
        width: 100%;
      }
    }

    @media screen and (min-width: $desktop) {
      width: 720px;

      padding: 80px;

      @include font(96, 86, 300);

      &--odd {
        left: auto;
        right: 0;
      }

      &--last {
        width: 100%;
      }
    }
  }

  &__img-wrapper {
    position: relative;

    z-index: 1;

    width: 100vw;
    min-height: 100vw;

    margin: 0;

    @media screen and (min-width: $tablet) {
      width: 50vw;
      min-height: 50vw;

      &--last {
        width: 100%;
      }
    }

    @media screen and (min-width: $desktop) {
      height: 100%;
      min-height: auto;

      &--last {
        width: 100%;
      }
    }
  }

  &__img {
    @extend %img;
  }

  &__picture {
    @extend %picture;
  }

  &__bottom {
    position: absolute;

    top: 0;
    left: 0;

    width: 100vw;
    height: fit-content;

    margin: 0;

    background-color: $dirty-green;

    pointer-events: none;

    backface-visibility: hidden;

    transform-origin: center;

    transform: rotateY(180deg);

    transition: transform 1s;

    &.active {
      position: relative;

      pointer-events: all;

      transform: rotateY(360deg);

      transition: transform 1s;
    }

    @media screen and (min-width: $tablet) {
      width: 50vw;
      min-height: 50vw;

      &--last {
        width: 100%;

        height: fit-content;
        min-height: auto;
      }
    }

    @media screen and (min-width: $desktop) {
      position: relative;

      max-width: 720px;
      min-height: auto;

      &--odd {
        left: auto;
        right: 0;
      }

      &--last {
        max-width: 1440px;

        margin: 0 auto;
      }
    }
  }

  &__slider {
    width: 100%;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__pagination {
    position: static;

    margin-bottom: 40px;

    @media screen and (min-width: $desktop) {
      display: none;
    }
  }

  &__slider-wrapper {
    display: flex;

    align-items: stretch;
  }

  &__slide {
    display: flex;

    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    height: auto;

    box-sizing: border-box;

    &.swiper-slide-active {
      z-index: 1;
    }
  }

  &__content {
    flex-grow: 1;

    display: flex;

    flex-direction: column;

    align-items: stretch;
    justify-content: flex-start;

    @extend %w100;

    padding: 46px 15px 41px;

    &--desktop {
      display: none;
    }

    @media screen and (min-width: $mobile) {
      padding: 46px 40px 41px;
    }

    @media screen and (min-width: $tablet) {
      padding: 40px;
    }

    @media screen and (min-width: $desktop) {
      align-items: flex-end;

      padding: 80px;

      &--desktop {
        display: flex;
      }

      &--last {
        display: grid;

        grid-template-areas:
          "a c"
          "b d";

        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        align-items: start;

        column-gap: 160px;
      }
    }
  }

  &__subtitle {
    @extend %w100;

    margin-bottom: 42px;

    @include font(24, 29, 700);

    color: $white;

    @media screen and (min-width: $tablet) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 44px;

      &--last {
        grid-area: a;

        margin-bottom: 0;
      }
    }
  }

  &__description {
    flex-grow: 1;

    @extend %w100;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    @include font(14, 21, 400);

    color: $white;

    @media screen and (min-width: $tablet) {
      &:not(:last-child) {
        margin-bottom: 36px;
      }
    }

    @media screen and (min-width: $desktop) {
      &:not(:last-child) {
        margin-bottom: 71px;
      }

      &--last {
        grid-area: b;

        &:not(:last-child) {
          margin-top: -18px;
          margin-bottom: 0;
        }
      }
    }
  }

  &__services {
    &:not(:last-child) {
      margin-bottom: 52px;
    }

    @media screen and (min-width: $desktop) {
      &:not(:last-child) {
        margin-bottom: 87px;
      }

      &--last {
        grid-area: c;

        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
  }

  &__button {
    min-width: 100%;

    @media screen and (min-width: $desktop) {
      grid-area: d;

      align-self: end;


      min-width: calc(272 / 560 * 100%);

      margin: 0 0 0 auto;
    }
  }
}
