.contacts {
  @extend %w100;

  background-color: $dark-gray;

  .gmnoprint {
    display: none;
  }

  img[alt='Google'] {
    display: none;
  }

  &--restaurant {
    background-color: $gray;
  }

  &--lobby,
  &--group,
  &--conference,
  &--conference-service {
    background-color: var(--background-color-page);
  }

  &__container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: minmax(414px, max-content);

    @media screen and (min-width: $tablet) {
      grid-template-rows: calc(293 / 768 * 100vw) auto;
    }

    @media screen and (min-width: $desktop) {
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;

      align-items: stretch;

      min-height: calc(600 / 1440 * 100vw);

      &--lobby {
        min-height: calc(561 / 1440 * 100vw);
      }
    }
  }

  &__left {
    position: relative;
  }

  &__map {
    width: 100vw;
    height: 100%;

    margin: 0 calc((100% - 100vw) / 2);

    background-color: #000000;

    @media screen and (min-width: $desktop) {
      width: 50vw;

      margin: 0 calc(100% - 50vw);
    }
  }

  &__content {
    position: relative;

    display: flex;

    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;

    height: fit-content;

    padding: 40px 0;

    @media screen and (min-width: $tablet) {
      align-items: flex-end;
    }

    @media screen and (min-width: $desktop) {
      align-items: flex-start;

      height: auto;

      padding: 80px 58px 201px 80px;
    }
  }

  &__title {
    width: fit-content;

    &--desktop {
      display: none;
    }

    &--mobile {
      position: absolute;

      bottom: 0;
      left: 0;

      z-index: 1;

      padding-bottom: 40px;
    }

    @media screen and (min-width: $tablet) {
      &--mobile {
        top: 0;
        bottom: auto;

        padding: 40px 0 0 0;
      }
    }

    @media screen and (min-width: $desktop) {
      &--desktop {
        position: absolute;

        bottom: -10px;
        left: 0;

        display: block;

        padding: 0;

        transform: translateX(-10%);
      }

      &--mobile {
        display: none;
      }
    }
  }

  &__address {
    margin-bottom: 32px;

    font-style: normal;

    @media screen and (min-width: $tablet) {
      margin-bottom: 40px;

      overflow: visible;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 80px;
    }
  }

  &__list {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;

    gap: 40px 70px;

    @extend %w100;

    list-style: none;

    @media screen and (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $desktop) {
      &--lobby {
        grid-template-columns: 1fr;
      }
    }
  }

  &__item {
    display: flex;

    align-items: flex-start;
    justify-content: flex-start;

    flex-direction: column;

    @extend %w100;

    &--lobby {
      &:nth-of-type(even) {
        display: none;
      }
    }

    @media screen and (min-width: $tablet) {
      transform: translate(20px, 20px);

      opacity: 0;
    }
  }

  &__subtitle {
    @extend %w100;

    margin-bottom: 8px;

    @include font(18, 24, 500);

    text-transform: uppercase;

    color: $yellow;

    &--conference-service {
      color: $white;
    }
  }

  &__text,
  &__link {
    @extend %w100;

    @include font(14, 25, 400);

    color: $white;

    &--conference-service {
      color: $dark-gray;
    }
  }

  &__link {
    opacity: 1;

    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;

      transition: opacity 0.3s;
    }
  }

  &__button {
    min-width: 100%;

    @media screen and (min-width: $tablet) {
      min-width: 308px;
    }

    @media screen and (min-width: $desktop) {
      --background-color-button: #{$white-20};

      min-width: calc(219 / 501 * 100%);
    }
  }
}
