.doings {
  position: relative;

  @extend %w100;

  &__title-wrapper {
    position: absolute;

    top: 29px;
    left: 40px;

    z-index: 2;

    @media screen and (min-width: $tablet) {
      left: calc(353 / 768 * 100vw);

      opacity: 0.8;
    }

    @media screen and (min-width: $desktop) {
      top: 13px;
      left: calc(764 / 1440 * 100vw);
    }
  }

  &__slider-container {
    @extend %w100;
    min-height: 200vw;

    padding-bottom: 40px;

    @media screen and (min-width: $tablet) {
      display: flex;

      width: 100vw;
      height: fit-content;
      min-height: calc((478 / 768)* 100vw);

      padding-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
      width: calc(730 / 1440 * 100%);

      min-height: auto;

      margin-right: auto;
      margin-left: 0;

      overflow: visible;
    }
  }

  &__slider {
    width: 100%;

    @media screen and (min-width: $tablet) {
      width: 50vw;

      direction: ltr;
    }

    @media screen and (min-width: $desktop) {
      width: 100%;
      
      overflow: visible;

      &.dooble__slider--text {
        display: none;
      }
    }
  }

  &__slider-wrapper {
    // transition: none;

    // @media screen and (min-width: $desktop) {
    //   transition: all 1.2s linear;
    // }
  }

  &__slide {
    height: auto;

    box-sizing: border-box;

    // visibility: hidden;

    // .doings__top,
    // .doings__bottom {
    //   visibility: hidden;

    //   // opacity: 0;
    // }

    // .doings__top {
    //   transform: translateX(-100%);
    // }

    // .doings__bottom {
    //   transform: translateX(100%);
    // }

    // &.swiper-slide-active {
    //   visibility: visible;

    //   .doings__top,
    //   .doings__bottom {
    //     visibility: visible;

    //     transition: translate 1.2s linear, opacity 0.5s linear;
    //   }
    // }

    // @media screen and (min-width: $tablet) {
    //   display: grid;

    //   grid-template-columns: 50% 50%;
    // }

    @media screen and (min-width: $desktop) {
      position: static;

      --width-img: 360px;
      --height-img: 360px;

      display: flex;

      flex-direction: column;

      align-items: flex-start;
      justify-content: flex-start;

      height: fit-content;

      // visibility: visible;

      // .doings__top,
      // .doings__bottom {
      //   opacity: 1;

      //   visibility: visible;

      //   transform: none;
      // }

      &.transition {
        .doings__bottom {
          visibility: hidden;

          opacity: 0;

          transform: translateY(-50px);
        }
      }

      &.translated {
        .doings__bottom {
          visibility: visible;

          transform: translateY(0);

          transition: transform 0.5s linear, opacity 0.5s linear;
        }
      }

      &.swiper-slide-active {
        .doings__img {
          width: 100%;
          height: 100%;

          transition: height 0.5s linear, width 0.5s linear;
        }

        .doings__bottom {
          position: static;

          max-width: 730px;

          margin: 0;

          padding: 0 75px 90px 106px;
        }

        .doings__subtitle {
          @include font(144, 140, 300);

          opacity: 0.8;
        }

        .doings__text {
          opacity: 1;
        }
      }

      &.swiper-slide-next,
      &.swiper-slide-next~.swiper-slide {
        position: relative;

        .doings__img {
          width: var(--width-img);
          height: var(--height-img);
        }

        .doings__bottom {
          position: absolute;

          top: var(--height-img);

          left: 0;

          max-width: var(--width-img);

          margin: 0;

          padding: 50px 0 0;
        }

        .doings__subtitle {
          @include font(30, 37, 700);

          opacity: 0.6;
        }

        .doings__text {
          opacity: 0;
        }
      }

      &.swiper-slide-next {
        .doings__img {
          transition: height 0.5s linear, width 0.5s linear;
        }

        .doings__bottom {
          transition: transform 0.5s linear;
        }
      }
    }
  }

  &__top {
    position: relative;

    width: 100vw;
    height: 100vw;

    @media screen and (min-width: $tablet) {
      width: 100%;
      height: calc((478 / 768) * 100vw);
      min-height: 100%;
    }

    @media screen and (min-width: $desktop) {
      height: calc((640 / 1440) * 100vw);
    }
  }

  &__img {
    @extend %img;
  }

  &__picture {
    @extend %picture;
  }

  &__bottom {
    @extend %w100;

    height: fit-content;
    min-height: calc(100vw - 40px);

    padding: 131px 40px 40px;

    &--desktop {
      display: none;
    }

    @media screen and (min-width: $tablet) {
      min-height: auto;

      padding: 198px 36px 40px;
    }

    @media screen and (min-width: $desktop) {
      max-width: 730px;

      margin-right: 0;
      margin-left: auto;

      padding: 0 75px 90px 106px;

      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }
  }

  &__subtitle {
    @extend %w100;

    margin-bottom: 27px;

    @include font(24, 29, 700);

    text-transform: uppercase;

    color: var(--color-page, #ffffff);

    @media screen and (min-width: $tablet) {
      margin-bottom: 32px;

      @include font(30, 37, 500);
    }

    @media screen and (min-width: $desktop) {
      width: fit-content;
      min-width: 730px;

      margin-right: calc(100% - 730px);
      margin-bottom: 25px;

      @include font(144, 140, 300);

      text-transform: lowercase;

      opacity: 0.8;
    }
  }

  &__text {
    @extend %w100;

    @include font(14, 21, 400);

    color: var(--color-page, #ffffff);

    @media screen and (min-width: $tablet) {
      @include font(12, 20, 400);
    }

    @media screen and (min-width: $desktop) {
      @include font(14, 20, 400);
    }
  }

  &__pagination {
    &.swiper-pagination {
      bottom: 40px;

      @media screen and (min-width: $tablet) {
        bottom: 38px;

        width: 50%;
      }

      @media screen and (min-width: $desktop) {
        display: none;
      }
    }
  }

  &__navigation {
    display: none;

    @media screen and (min-width: $desktop) {
      position: absolute;

      top: 640px;
      left: calc((730 / 1440) * 100vw + 270px);

      z-index: 2;

      display: flex;

      transform: translateY(-100%);
    }
  }
}