.dooble {
  &__slider {
    &--images {
      direction: rtl;
    }

    // &--text {
    //   .swiper-slide {
    //     opacity: 0;

    //     transition: opacity 1.2s linear;

    //     &-active {
    //       opacity: 1;

    //       transition: opacity 1.2s linear;
    //     }
    //   }
    // }

    // @media screen and (min-width: $tablet) {
    //   &--images {
    //     direction: ltr;
    //   }
    // }
  }

  &__content {
    @media screen and (min-width: $desktop) {
      &--coffee {
        display: grid;

        grid-template-areas:
          'a a'
          'b c';

        grid-template-columns: 1fr 200px;
        grid-template-rows: 1fr auto;

        column-gap: 49px;

        padding: 0;
      }
    }
  }
}
