.features {
  order: 2;

  @extend %w100;

  @media screen and (min-width: $tablet) {
    order: 1;
  }

  &__container {
    position: relative;
  }

  &__slider {
    position: relative;

    @extend %w100;

    height: fit-content;

    padding: 32px 0 64px;

    @media screen and (min-width: $tablet) {
      padding: 0 0 120px;
    }

    @media screen and (min-width: $desktop) {
      padding-bottom: 164px;
    }

    .swiper-wrapper {
      margin: 0;
      padding: 0;
  
      list-style: none;
  
      @media screen and (min-width: $tablet) {
        display: grid;
  
        grid-template-columns: repeat(4, 1fr);
  
        gap: 32px 14px;
  
        width: 100%;
      }
  
      @media screen and (min-width: $desktop) {
        grid-template-columns: repeat(5, 1fr);
  
        gap: 109px 60px;
      }
    }
  }

  &__slide {
    @media screen and (min-width: $tablet) {
      width: unset!important;
    }
  }

  &__pagination {
    &.swiper-pagination {
      bottom: 0;
    }
  }
}