.info {
  order: 0;

  @extend %w100;

  padding: 116px 0 64px;

  &--conference {
    padding: 52px 0 40px;
  }

  @media screen and (min-width: $tablet) {
    padding: 175px 0 120px;

    &--conference {
      padding: 157px 0 0;
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 249px 0 164px;

    &--conference {
      padding: 250px 0 123px;
    }
  }

  &__container {
    &--conference {
      display: grid;

      grid-template-columns: 100%;
    }

    @media screen and (min-width: $tablet) {
      display: grid;

      grid-template-areas:
        "a a"
        "b b"
        "c ."
        "c d"
        "c e";

      grid-template-columns: calc((305 / 696) * 100%) 1fr;

      justify-content: space-between;
      justify-items: end;

      &--conference {
        grid-template-areas:
          "d a"
          "d b"
          "d c";

        grid-template-columns: 50% calc((305 / 696) * 100%);
      }
    }

    @media screen and (min-width: $desktop) {
      padding-left: 120px;

      grid-template-areas:
        "c . a a"
        "c . a a"
        "c . b d"
        "c . . e";

      grid-template-columns: 360px 162px 1fr 272px;

      &--conference {
        padding-right: 94px;

        grid-template-areas:
          "d . . ."
          "d . a a"
          "d . b c"
          "d . . .";

        grid-template-columns: 360px 148px 1fr 272px;
      }
    }
  }

  &__services {
    margin-bottom: 40px;

    &--conference {
      order: 2;

      margin-bottom: 119px;
    }

    @media screen and (min-width: $tablet) {
      grid-area: b;

      margin-bottom: 64px;

      &--conference {
        margin-bottom: 116px;
      }
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 0;

      &--conference {
        height: fit-content
      }
    }
  }

  &__content {
    @extend %w100;

    margin-bottom: 40px;

    &--conference {
      order: 1;

      margin-bottom: 38px;
    }

    @media screen and (min-width: $tablet) {
      grid-area: a;

      max-width: calc((538 / 696) * 100%);

      margin-bottom: 44px;

      &--conference {
        max-width: 100%;

        margin-bottom: 38px;
        padding-top: 80px;
      }
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 67px;

      max-width: 100%;

      &--conference {
        margin: 0 0 123px 0;
        padding: 0;
      }
    }
  }

  &__text {
    @extend %w100;

    @include font(14, 21, 400);

    color: var(--color-page, #ffffff);

    @media screen and (min-width: $desktop) {
      @include font(18, 27, 400);
    }
  }

  &__more {
    @extend %button-reset;

    margin-top: 16px;

    text-align: right;

    text-decoration: underline;

    opacity: 1;

    transition: opacity 0.3s;

    &.active {
      display: none;
    }

    &:active {
      opacity: 0.7;

      transition: opacity 0.3s;
    }

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__price {
    margin-bottom: 40px;

    @media screen and (min-width: $tablet) {
      grid-area: d;

      align-self: end;

      height: fit-content;

      margin-bottom: 40px;
    }

    @media screen and (min-width: $desktop) {
      width: fit-content;

      margin-bottom: 0;
    }
  }

  &__button {
    min-width: 100%;

    &--conference {
      order: 3;
    }

    @media screen and (min-width: $tablet) {
      grid-area: e;

      align-self: end;

      min-width: 200px;

      height: fit-content;

      &--conference {
        grid-area: c;

        margin-bottom: 40px;
      }
    }

    @media screen and (min-width: $desktop) {
      min-width: 272px;

      margin-top: 67px;

      &--conference {
        margin: 0;
      }
    }
  }

  &__img {
    display: none;

    @media screen and (min-width: $tablet) {
      position: relative;

      display: block;

      grid-area: c;

      width: 100%;
      height: 100%;

      min-height: 215px;

      &--conference {
        grid-area: d;

        width: 50vw;
        min-height: calc((506 / 768) * 100vw);

        margin-left: calc(100% - 50vw);
      }
    }

    @media screen and (min-width: $desktop) {
      &--conference {
        width: 100%;
        min-height: calc((420 / 1440) * 100vw);

        margin-left: 0;
      }
    }
  }

  &__picture {
    @extend %picture;
  }
}
