.logo {
  color: $dark-yellow;

  opacity: 1;

  &--home,
  &--smart,
  &--about,
  &--starfit {
    color: $dark-green;
  }

  &--header {
    transform-origin: center;

    transform: scale(1);

    transition: transform 0.5s ease-out, color 0.5s;

    svg {
      fill: $white;
    }

    &.active {
      color: $dark-yellow;

      transition: transform 0.5s ease-in, color 0.5s;

      &.scrolled {
        opacity: 1;

        transform: scale(1);

        transition: opacity 0.5s 0.8s;
      }
    }

    &.scrolled {
      opacity: 0;

      transform: scale(0);

      transition: transform 0.5s ease-in, opacity 0.5s;
    }
  }

  &--footer {
    width: 68px;

    color: $dark-yellow;

    transition: color 0.3s;

    svg {
      fill: $green;
    }
  }

  @media screen and (min-width: $tablet) {
    &--footer {
      width: 116px;
    }
  }

  @media screen and (min-width: $desktop) {
    &--footer {
      width: 148px;
    }
  }

  &__link {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;

    color: inherit;

    svg {
      width: 100%;
      height: auto;
    }
  }
}