.menu {
  position: relative;

  display: flex;

  align-items: stretch;
  justify-content: flex-start;

  width: 100%;
  height: fit-content;

  min-height: 100vh;

  padding: 218px 0 150px;

  background-color: $dark-gray;

  --before-linear-gradient-from: rgba(0, 0, 0, 0.7);
  --before-linear-gradient-to: rgba(0, 0, 0, 0.7);

  @include before-linear-gradient();

  @media screen and (min-width: $tablet) {
    padding: calc(274 / 840 * 100vh) 0 60px;
  }

  &__container {
    position: relative;

    z-index: 2;

    display: flex;

    flex-direction: column;

    align-items: flex-start;
    justify-content: space-between;
  }

  &__img {
    @extend %img;

    opacity: 0;

    transition: opacity 0.7s ease-out;

    &.active {
      opacity: 1;

      transition: opacity 0.7s ease-in;
    }
  }

  &__picture {
    @extend %picture;
  }

  &__nav {
    @extend %w100;

    margin-bottom: calc(60 / 896 * 100vh);

    @media screen and (min-width: $desktop) {
      margin-bottom: calc(125 / 840 * 100vh);
    }
  }

  &__bottom {
    @extend %w100;

    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  &__social {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;

      align-items: center;
      justify-content: flex-start;

      gap: 18px;

      width: 100%;

      a {
        --color-social: #{$white};
        --border-color-social: #{$white};
      }
    }
  }

  &__button {
    --background-color-button: #{$white-30};

    min-width: calc((210 / 414) * 100vw);

    @media screen and (min-width: $tablet) {
      display: none !important;
    }
  }

  &__call {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;

      width: auto;

      min-width: 208px;
    }
  }

  &__phone {
    display: flex;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__lang {
    display: none !important;

    @media screen and (min-width: $tablet) {
      display: flex !important;

      width: 48px;
      height: 48px;
    }
  }
}
