.rooms {
  position: relative;

  @extend %w100;

  &__slider {
    @extend %w100;

    height: fit-content;

    @media screen and (min-width: $tablet) {
      direction: ltr;

      &.dooble__slider--text {
        display: none;
      }
    }

    .swiper-wrapper {
      @media screen and (min-width: $tablet) {
        display: block;
      }
    }
  }

  &__slide {
    padding-bottom: 64px;

    box-sizing: border-box;

    @media screen and (min-width: $tablet) {
      padding-bottom: 120px;

      cursor: default;

      &.swiper-slide-duplicate {
        display: none;
      }
    }

    @media screen and (min-width: $desktop) {
      padding-bottom: 160px;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  &__pagination {
    &.swiper-pagination {
      bottom: 56px;
    }
  }
}
