.scroll-top {
  --background-color-button: #{$white-20};

  position: fixed;

  right: 15px;
  bottom: 40px;

  z-index: 7;

  transform: translateX(50vw);
  transition: transform 0.5s ease-in;

  &.active {
    transform: translateX(0);
    transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  &__link {
    padding: 0;
  }

  @media screen and (min-width: $mobile) {
    right: 40px;
  }

  @media screen and (min-width: $tablet) {
    right: 36px;
  }

  @media screen and (min-width: $desktop) {
    right: 80px;
    bottom: 106px;
  }
}