.services {
  display: grid;

  grid-template-columns: repeat(auto-fit, calc(154 / 334 * 100%));
  grid-template-rows: auto;

  gap: 27px 5px;

  justify-content: space-between;

  @extend %w100;

  list-style: none;

  overflow: visible;

  &--spa {
    row-gap: 16px;
  }

  &--smart-rooms {
    row-gap: 20px;
  }

  &--conference-info,
  &--seating {
    grid-template-columns: 100%;

    row-gap: 20px;
  }

  &--conference-info,
  &--prices {
    row-gap: 20px;
  }

  &--seating {
    row-gap: 22px;
  }

  @media screen and (min-width: $tablet) {

    &--spa,
    &--halls {
      grid-template-columns: repeat(auto-fit, minmax(151px, max-content));

      row-gap: 24px;
    }

    &--standart-info {
      grid-template-columns: repeat(auto-fit, minmax(151px, max-content));

      justify-content: flex-end;

      row-gap: 24px;
    }

    &--conference-info {
      row-gap: 24px;
    }

    &--seating {
      row-gap: 26px;
    }
  }

  @media screen and (min-width: $desktop) {
    &--cards {
      grid-template-columns: repeat(4, 1fr);
    }

    &--spa {
      grid-template-columns: repeat(3, auto);

      column-gap: 56px;

      justify-content: flex-start;
    }

    &--rooms {
      grid-template-columns: repeat(3, auto);

      column-gap: 24px;

      justify-content: flex-start;
    }

    &--standart-info {
      grid-template-columns: repeat(auto-fit, minmax(142px, max-content));

      justify-content: flex-start;

      column-gap: 26px;
    }

    &--conference-info {
      grid-template-columns: 1fr 1fr;

      column-gap: 61px;
    }

    &--smart-rooms {
      grid-template-columns: repeat(auto-fit, minmax(132px, max-content));

      justify-content: start;

      column-gap: 24px;
    }

    &--seating {
      grid-template-columns: 100%;

      row-gap: 25px;
    }

    &--prices {
      grid-template-columns: repeat(auto-fit, minmax(132px, max-content));

      grid-template-rows: auto;

      align-items: flex-start;
      justify-content: start;

      column-gap: 14px;
      row-gap: 30px;
    }

    &--types {
      grid-template-columns: repeat(2, 48%);
    }
  }

  &__item {
    margin: 0;
    padding: 0;
  }
}