.social {
  display: flex;

  align-items: center;
  justify-content: start;

  width: fit-content;

  margin: 0;
  padding: 0;

  list-style: none;

  &--horizontal {
    flex-direction: row;
  }

  &--vertical {
    flex-direction: column;
  }

  &__item {
    margin: 0;
    padding: 0;

    &--horizontal {
      &:not(:first-of-type) {
        margin-left: 18px;
      }
    }

    &--vertical {
      &:not(:first-of-type) {
        margin-top: 16px;
      }
    }
  }

  &__link {
    @extend %button-reset;

    position: relative;

    display: flex;

    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;

    padding: 0;

    font-size: rem(14);
    line-height: rem(17);

    color: var(--color-social, #ffffff);

    text-transform: uppercase;

    border-radius: 50%;

    overflow: hidden;

    &--about {
      --color-social: #{$starfit};
      --border-color-social: #{$starfit};
    }

    span,
    svg {
      position: relative;

      z-index: 2;
    }

    &::before {
      content: '';

      position: absolute;

      top: 0;
      left: 0;

      z-index: 1;

      width: 100%;
      height: 100%;

      border: 1px solid var(--border-color-social, #ffffff);

      border-radius: 50%;

      background-color: var(--background-color-social, transparent);
    }

    svg {
      width: 100%;
      height: auto;

      fill: none;

      stroke: var(--color-social, #ffffff);
    }

    &:hover:not(:active) {
      --background-color-social: #{$white-30};
    }

    &:active {
      --color-social: #{$yellow};
      --background-color-social: #{$white-80};
    }
  }

  // @media screen and (min-width: $tablet) {
  //   &__link {
  //     svg {
  //       width: 24px;
  //     }
  //   }
  // }
}
