.spa {
  @extend %w100;

  @media screen and (min-width: $tablet) {
    display: flex;

    align-items: stretch;
    justify-content: flex-start;
  }

  &__left {
    position: relative;

    @extend %w100;

    @media screen and (min-width: $tablet) {
      width: 50vw;
      height: auto;

      min-height: calc(580 / 768 * 100vw);

      overflow: visible;
    }

    @media screen and (min-width: $desktop) {
      min-height: calc(840 / 1440 * 100vw);
    }
  }

  &__title {
    position: absolute;

    z-index: 2;

    top: 40px;
    left: 15px;

    &--desktop {
      display: none;
    }

    @media screen and (min-width: $mobile) {
      left: 40px;
    }

    @media screen and (min-width: $tablet) {
      position: static;

      min-width: 538px;

      margin-left: calc((100% + 228px) - 538px);
      margin-bottom: 61px;
      margin-left: -228px;

      &--desktop {
        display: block;
      }

      &--mobile {
        display: none;
      }
    }

    @media screen and (min-width: $desktop) {
      min-width: 720px;

      margin-left: calc((100% + 159px) - 720px);
      margin-bottom: 58px;
      margin-left: -159px;
    }
  }

  &__slider {
    @extend %w100;

    height: fit-content;

    @media screen and (min-width: $tablet) {
      height: auto;

      min-height: 100%;
    }
  }

  &__slide {
    box-sizing: border-box;
  }

  &__top {
    position: relative;

    width: 100vw;
    height: 100vw;

    @media screen and (min-width: $tablet) {
      height: 100%;
    }
  }

  &__img {
    @extend %img;
  }

  &__picture {
    @extend %picture;
  }

  &__bottom {
    @extend %w100;

    min-height: 100vw;

    padding: 40px 15px 88px 15px;

    @media screen and (min-width: $mobile) {
      padding: 40px 40px 88px 40px;
    }

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__text {
    --color-page: #{$dark-starfit};

    @extend %w100;

    margin-bottom: 59px;

    @include font(14, 20, 400);

    color: var(--color-page, #ffffff);

    @media screen and (min-width: $tablet) {
      @include font(12, 18, 400);

      &--top {
        margin-bottom: 36px;
      }

      &--bottom {
        margin-bottom: 48px;
      }
    }

    @media screen and (min-width: $desktop) {
      @include font(14, 20, 400);

      &--top {
        order: 0;

        margin-bottom: 46px;
      }

      &--bottom {
        order: 2;

        margin-bottom: 137px;
      }
    }
  }

  &__services {
    @media screen and (min-width: $tablet) {
      margin-bottom: 45px;
    }

    @media screen and (min-width: $desktop) {
      order: 1;

      margin-bottom: 77px;
    }
  }

  &__worktime {
    margin-bottom: 47px;

    &--desktop {
      display: none;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
      &--desktop {
        display: flex;
      }
    }
  }

  &__pagination {
    &.swiper-pagination {
      bottom: 40px;

      @media screen and (min-width: $tablet) {
        bottom: 44px;
      }
    }
  }

  &__right {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;

      flex-direction: column;

      align-items: flex-start;
      justify-content: flex-start;

      width: 50vw;

      padding: 0 38px 44px 36px;
    }

    @media screen and (min-width: $desktop) {
      max-width: 720px;

      margin: 0 auto 0 0;
      padding: 66px 80px 80px;
    }
  }

  &__buttons {
    @extend %w100;

    @media screen and (min-width: $desktop) {
      order: 3;

      display: flex;

      align-items: center;
      justify-content: space-between;
    }
  }

  &__button {
    min-width: 100%;

    margin: 0 0 0 auto;

    @media screen and (min-width: $desktop) {
      min-width: 240px;
    }
  }

  &__arrow-top {
    display: none;

    @media screen and (min-width: $desktop) {
      display: flex;

      margin-left: 24px;
    }
  }
}
