.title {
  --opacity: 1;

  z-index: 100;

  @extend %w100;

  @include font(50, 56, 400);

  text-transform: lowercase;

  color: $white;

  overflow: visible;

  pointer-events: none;

  @media screen and (min-width: $small-mobile) {
    @include font(64, 70, 400);
  }

  @media screen and (min-width: $tablet) {
    @include font(96, 86, 300);

    opacity: 0;

    transform-origin: 0 0;

    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(.25, 1, .5, 1);
    transform: translateY(100px) rotate(10deg) rotateX(-40deg);

    transition-delay: 0s;

    transition: transform, opacity;

    &.active {
      opacity: var(--opacity, 1);

      transform-origin: 0 0;
      transition: transform, opacity;
      transition-duration: 1.5s;
      transition-timing-function: cubic-bezier(.25, 1, .5, 1);
      transition-delay: .2s;
      transform: translateZ(0);
    }
  }

  @media screen and (min-width: $desktop) {
    @include font(200, 156, 500);

    color: $white-60;
  }
}