.title {
  @extend %w100;

  @include font(50, 56, 400);

  text-transform: lowercase;

  color: $white;

  overflow: visible;

  pointer-events: none;

  &--light-green {
    color: $white-80;
  }

  @media screen and (min-width: $small-mobile) {
    @include font(64, 70, 400);
  }

  @media screen and (min-width: $tablet) {
    @include font(96, 86, 300);
  }

  @media screen and (min-width: $desktop) {
    @include font(200, 156, 500);

    color: $white-60;

    &--light-green {
      color: $light-green-40;
    }
  }
}
