.container {
  width: 100%;
  max-width: $size-desktop;

  margin: 0 auto;

  padding: 0 $padding-mobile-small;

  @media screen and (min-width: $mobile) {
    padding: 0 $padding-mobile;
  }

  @media screen and (min-width: $tablet) {
    padding: 0 $padding-tablet;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 $padding-desktop;
  }
}
