.page-main {
  @extend %w100;

  flex-grow: 1;

  background-color: var(--background-color-page);

  &--text-page {
    --color-page: var(--white);
    --background-color-page: var(--dark-gray);
  }

  &--about {
    --color-button: var(--light-yellow);
    --border-color-button: var(--light-yellow);
    --color-page: var(--light-yellow);
    --background-color-page: var(--green);
  }

  &--conference-service {
    --color-button: var(--white);
    --border-color-button: var(--white);
    --color-page: var(--white);
    --background-color-page: var(--beige);
  }

  &--conference {
    --color-button: var(--white);
    --border-color-button: var(--white);
    --color-page: var(--white);
    --background-color-page: var(--green);
  }

  &--group {
    --color-button: var(--white);
    --border-color-button: var(--white);
    --color-page: var(--white);
    --background-color-page: var(--blue);
  }

  &--lobby {
    --color-button: var(--light-yellow);
    --border-color-button: var(--light-yellow);
    --color-page: var(--light-yellow);
    --background-color-page: var(--gray);
  }

  &--restaurant {
    --color-button: var(--light-yellow);
    --border-color-button: var(--light-yellow);
    --color-page: var(--light-yellow);
    --background-color-page: var(--dark-green);
  }

  &--rooms {
    --color-button: var(--white);
    --border-color-button: var(--white);
    --color-page: var(--white);
    --background-color-page: var(--dark-blue);
  }

  &--smart {
    --color-button: var(--white);
    --border-color-button: var(--white);
    --color-page: var(--white);
    --background-color-page: var(--dark-gray);
  }

  &--standart {
    --color-button: var(--white);
    --border-color-button: var(--white);
    --color-page: var(--white);
    --background-color-page: var(--dark-blue);

    display: grid;
  }

  &--starfit {
    --color-button: var(--starfit);
    --border-color-button: var(--starfit);

    --color-page: var(--starfit);
    --background-color-page: var(--dark-gray);
    --color-pagination: var(--starfit);

    .button {
      &:hover:not(:active) {
        --background-color-button: rgba(230, 181, 8, 0.2);
      }

      &:active {
        --color-button: #{$white};
        --background-color-button: rgba(230, 181, 8, 0.8);
      }
    }
  }
}
