.page-header {
  position: fixed;

  top: 0;
  left: 0;

  z-index: 9;

  @extend %w100;
  min-height: 100vh;

  pointer-events: none;

  // &__container {}

  &__top {
    position: relative;

    z-index: 10;

    display: flex;

    align-items: flex-start;
    justify-content: space-between;

    padding: 40px 0 0 0;

    pointer-events: none;

    @media screen and (min-width: $tablet) {
      padding: 37px 0;
    }

    @media screen and (min-width: $desktop) {
      padding: 60px 0 0 0;
    }
  }

  &__logo {
    width: 120px;

    transform: scale(1);

    transform-origin: center;

    pointer-events: all;

    &.active {
      &.scrolled {
        opacity: 1;

        transform: scale(1);
      }
    }

    &.scrolled {
      opacity: 0;

      transform: scale(0);
    }
  }

  &__right {
    display: flex;

    align-items: flex-start;
    justify-content: flex-end;

    pointer-events: all;

    transform: rotateX(0);

    transition: transform 0.5s linear;

    &.scrolled {
      transform: rotateX(90deg);

      &.stoped {
        transform: rotateX(0);
      }
    }

    @media screen and (min-width: $desktop) {
      padding-top: 20px;
    }
  }

  &__buttons {
    display: none;

    @media screen and (min-width: $tablet) {
      display: flex;

      align-items: flex-start;
      justify-content: flex-end;
    }
  }

  &__button {
    --background-color-button: #{$white-50};

    &--home {
      --background-color-button: transparent;
    }

    &--starfit {
      --color-button: #{$white};
      --border-color-button: #{$white};
    }

    &.active {
      --background-color-button: #{$white-50};
    }

    &::before {
      opacity: 0.7;
    }

    @media screen and (min-width: $tablet) {
      min-width: 190px;

      &:not(:first-of-type) {
        margin-left: 24px;
      }
    }
  }

  &__links {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    width: 48px;

    margin-left: 24px;
  }

  &__burger {
    margin-bottom: 16px;

    &.active {
      & ~ .page-header__lang {
        display: flex !important;
      }

      & ~ .page-header__social {
        opacity: 0;

        pointer-events: none;
      }
    }

    @media screen and (min-width: $tablet) {
      &.active {
        & ~ .page-header__lang {
          display: none !important;
        }
      }
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 0;
    }
  }

  &__social {
    --color-button: #{$white};
    --border-color-button: #{$white};

    transform: none;

    &--home,
    &--smart {
      transform: translateX(50vw);

      transition: transform 0.5s ease-in;

      &.scrolled {
        transform: translateX(0);

        transition: transform 0.5s ease-out;
      }
    }

    &--404 {
      display: none;
    }

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  &__menu {
    position: absolute;

    top: 0;
    left: 0;

    z-index: 9;

    width: 100vw;
    height: 100vh;

    overflow: auto;

    opacity: 0;

    transform: translateY(-100vh);

    pointer-events: none;

    &.loaded {
      position: absolute;

      transition: transform 1s ease-in, opacity 1s linear;
    }

    &.active {
      opacity: 1;

      transform: translateY(0);

      transition: transform 1s ease-out, opacity 1s linear;

      pointer-events: all;
    }

    @media screen and (min-width: $desktop) {
      overflow: hidden;
    }
  }

  &__lang {
    display: none !important;

    width: 48px;
    height: 48px;

    margin: 16px 0;

    @media screen and (min-width: $tablet) {
      display: none !important;
    }
  }
}
